@charset "UTF-8";

@font-face {
	font-family: 'SUIT-Regular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

html>body {
	padding: 0;
	margin: 0;
	font-family: 'SUIT-Regular', sans;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

hr {
	border: none;
	border-top: 3px solid #afafaf;
}

.bg-blue-1 {
	background-color: #0099FF;
}
.bg-blue-2 {
	background-color: #1f418c;
}

.text-blue-1 {
	color: #0099FF;
}

.text-blue-2 {
	color: #1f418c;
}

.text-grey-1 {
	color: #808080;
}

.border-blue-2 {
	border: #1f418c solid 1px;
	border-radius: 1.5rem;
}

.border-grey-1 {
	border: #808080 solid 1px;
}

.top_bar_first_menu:hover > a {
	/*color: oklch(70.9% 0.01 56.259);*/
}

.top_bar_first_menu:hover > ul {
	z-index: 100;
	display: block;
	left: 50%;
	transform: translateX(-50%);
}

.comments-box hr:first-of-type {
	display: none;
}


i.highlight {
	position: relative;
	bottom: 15px;
	left: 8px;
	z-index: 100;
	font-size: 0rem;
	opacity: 0;
	transition: font-size .1s;
}

li:hover .highlight,
li i.active{
	opacity: 100%;
	font-size: .5rem;
}

.side_bar_left > ul > li > a {
	background-color: transparent;
	transition: background-color 5s;
}

.side_bar_left > ul > li > a.active {
	background-color: #1f418c;
	color: #F0F0F0;
}

.topCertsByField .chart_container {
	max-height: 450px; /* 최대 높이, 필요하면 조절 */
	position: relative;
	overflow: hidden;
}
