@charset "UTF-8";

@font-face {
	font-family: 'SUIT-Regular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

/*normalizing*/
html>body {
	padding: 0;
	margin: 0;
	font-family: 'SUIT-Regular', sans;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

hr {
	border: none;
	border-top: 3px solid #afafaf;
}


input {
	/*z-index: 1;*/
}

.comments-box hr:first-of-type {
	display: none;
}



/*lib*/
.bg-blue-1 {
	background-color: #2459a8;
	/*#2f73d9*/
}

.bg-blue-2 {
	background-color: #2f73d9;
}

.bg-grey-1 {
	background-color: #dcdcdc;
}

.bg-grey-2 {
	background-color: #d9d9d9;
}

.text-blue-1 {
	color: #0099FF;
}

.text-blue-2 {
	color: #2f73d9;
}

.text-grey-1 {
	color: #dcdcdc;
}

.border-blue-2 {
	border: #2f73d9 solid 1px;
	border-radius: 1.5rem;
}

.border-grey-1 {
	border: #d9d9d9 solid 1px;
}

/*top-bar*/
.header {
	top: -250px;
	left: -250px;
	transition: top .5s, left .5s, transform 0.3s ease;
	z-index: 100;
}

.header.active{
	top: 0;
	left: 0;
}

.top_bar_first_menu:hover > ul {
	z-index: 100;
	display: block;
	left: 50%;
	transform: translateX(-50%);
}

.hamburgerIcon {
	position: relative;
	width: 35px;
	height: 25px;
	cursor: pointer;
}

.hamburgerIcon span {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 4px;
	border-radius: 5px;
	background: white;
	transition: all 0.3s;
}

.hamburgerIcon.main span {
	background: #2f73d9;
}

.hamburgerIcon .hamburger_border1 {
	top: 0;
}

.hamburgerIcon .hamburger_border2 {
	top: 40%;
}

.hamburgerIcon .hamburger_border3 {
	bottom: 0;
}

.hamburgerIcon.active .hamburger_border1 {
	transform: translateY(11px) rotate(45deg);
}

.hamburgerIcon.active .hamburger_border2 {
	opacity: 0;
}

.hamburgerIcon.active .hamburger_border3 {
	transform: translateY(-11px) rotate(-45deg);
}

/*sub-menu highlight*/
i.highlight {
	position: relative;
	bottom: 15px;
	left: 8px;
	z-index: 100;
	font-size: 0rem;
	opacity: 0;
	transition: font-size .1s;
}

li:hover .highlight,
li i.active{
	opacity: 100%;
	font-size: .5rem;
}



/*side-bar*/
.side_bar_left > ul > li > a {
	background-color: transparent;
	transition: background-color 5s;
	color: #d9d9d9;
}

.side_bar_left > ul > li > a.active {
	border-radius: 32px;
	background-color: #d9d9d9;
	color: #2f73d9;
}

.side_bar_left > ul > li > a.actived{
	position: relative;
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
	background-color: #d9d9d9;
	color: #2f73d9;
}

.side_bar_left {
	z-index: 100;
	top: -250px;
	left: -100%;
	transition: all .3s;
}

.side_bar_left.active{
	top: 100px;
	left:0;
}

.hub_sub_menu {
	width: 100%;
}

.hub_sub_menu a {
	width: 100%;
	display: block;
}

.side_bar_right {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -2;
	top: 100px;
	background-color: transparent;
	transition: background-color .5s, z-index 1s;
}

.side_bar_right.active{
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.side_bar_right_menu_box{
	z-index: 11;
	position: fixed;
	height: 100%;
	width: 400px;
	left: auto;
	right: -100%;
	transition: right .3s;
}

.side_bar_right_menu_box.active  {
	right: 0;
}

/*main*/
.helpMenu {
	background-color: rgba(220, 220, 220, 0.3);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05),
	0 -4px 8px rgba(0, 0, 0, 0.05),
	4px 0 8px rgba(0, 0, 0, 0.05),
	-4px 0 8px rgba(0, 0, 0, 0.05);
	transition: all .3s;
}

.helpMenu:hover {
	color: #2f73d9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
	4px 0 8px rgba(0, 0, 0, 0.1);
	transition: all .3s;
}

.iconBox {
	transition: all .3s;
}

.helpMenu:hover .iconBox {
	background-color: #2f73d9;
}



/*analysis*/
.analysis-element {
	background-color: rgba(220, 220, 220, 0.3);
	border-radius: 2rem;
}

.topCertsByField .chart_container {
	max-height: 300px;
	position: relative;
	overflow: hidden;
}


/*workbook*/
.step {
	position: absolute;
	left: 120%;
	transition: all .3s;
}

.step.active {
	left: 0;
}

.step.end {
	left: -100%;
}


 .mode-toggle {
	 display: flex;
	 gap: 10px;
	 margin-top: 10px;
 }

.toggle-btn {
	padding: 10px 20px;
	border: 2px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	background-color: white;
	transition: 0.2s;
}

input[type="radio"]:checked + .toggle-btn {
	background-color: #007bff;
	color: white;
	font-weight: bold;
}

