@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html>body {
	font-family: 'GmarketSansMedium', sans;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header>div>ul>li {
	margin-right: 30px;
}

/*네비게이션 2차메뉴 */
header>div>ul>li>ul>li {
	padding-bottom: 30px;
}

header>div>ul>li>ul {
	background-color: white;
	display: none;
	position: absolute;
}

header>div>ul>li:hover>ul {
	display: block;
}